assignment1/__pycache__/debug_test_1.cpython-311.pyc
assignment1/__pycache__/UZ_utils.cpython-311.pyc
assignment1/assignment1_63210035.zip
assignment2/assignment2_63210035.zip
assignment2/with_results_assignment2_63210035.zip
assignment2/__pycache__/a2_utils.cpython-311.pyc
assignment3/assignment3_old.zip
assignment3/assignment3_with_results.zip
assignment3/assignment3.zip
assignment3/__pycache__/a3_utils.cpython-311.pyc
assignment4/__pycache__/a4_utils.cpython-311.pyc
assignment5/__pycache__/a5_utils.cpython-311.pyc
assignment6/__pycache__/a6_utils.cpython-311.pyc
